* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 50%;
    margin: 0 auto 0;
    border: #f55f8d solid 10px;
    border-radius: 20px;
    background-size: 200%;
}

header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    color: rgb(169, 26, 26);
}

.ex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    position: relative;
    margin-bottom: 50px;
}

.ex input {
    width: 30%;
    margin: 10px;
    border: #d74470 solid 5px;
    border-radius: 10px;
    font-size: 20px;
}

.ex h2 {
    font-size: 30px;
    color: rgb(127, 3, 102);
}

.ex .output {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ex .output p {
    font-size: 30px;
}

.refresh {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 10px;
    right: 10px;
    background: #f55f8d;
    border-radius: 50%;
    padding: 10px;
}

.refresh:hover {
    background: #f8ae56;
    cursor: pointer;
}






.btn {
    font-size: 30px;
    color: aliceblue;
    padding: 10px 25px;
    border-radius: 30px;
    border: none;
    background-size: 200%;
    background-image: linear-gradient(to left, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
    transition: 0.5s;
    display: block;
    margin: 20px 0;
}

.btn:hover {
    background-position: right center;
    cursor: pointer;
}

.checkbox {
    margin: 20px auto 0;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.checkbox h2 {
    color: rgb(15, 189, 108);
}


.checkbox .checkbox__item {
    width: 100%;
    margin: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#checkNo-Bo,
#checkNo-Me,
#checkNo-EmTrai,
#checkNo-EmGai {
    position: relative;
    margin-right: 10px;
    font-size: 40px;
    color: black;

}

#checkYes-Bo,
#checkYes-Me,
#checkYes-EmTrai,
#checkYes-EmGai {
    position: absolute;
    font-size: 28px;
    top: 6px;
    left: 6px;
    opacity: 0;
    color: #f55f8d;
}